<div class="head">
<h1>Porkstain</h1>

<h2>Create a new post</h2>

</div>

<form class="new-post" action="/" method="post">

  <label for="postTitle">Post Title</label>
  <input type="text" name="postTitle" value="">

  <label for="postContent">Post Content</label>
  <textarea name="postContent" rows="8" cols="40"></textarea>

  <label for="datePosted">Date posted</label>
  <input type="date" name="datePosted" value="">

  <input type="submit" value="Add Post">

</form>

<a href="/">Return to Homepage</a>
